<!-- Mobile Header-->

<header
  id="header"
  class="header fixed-top d-flex align-items-center d-lg-none d-md-flex"
>
  <div
    class="container-fluid d-flex align-items-center justify-content-between"
  >
    <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
      <img src="/assets/img/logo.png" alt="" />
    </a>

    <!-- Nav Menu -->
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="index.html#hero" class="active">Home</a></li>
        <li><a href="index.html#about">About</a></li>
        <li><a href="index.html#services">Services</a></li>
        <li><a href="index.html#portfolio">Portfolio</a></li>
        <li><a href="index.html#team">Team</a></li>
        <li><a href="blog.html">Blog</a></li>

        <li><a href="index.html#contact">Contact</a></li>
      </ul>

      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
    <!-- End Nav Menu -->
  </div>
</header>

<!--Desktop header-->
<header
  id="header"
  class="header fixed-top d-flex align-items-center d-lg-flex d-md-none"
>
  <div class="container d-flex align-items-center justify-content-between">
    <!-- Nav Menu -->
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/about-me">About Me</a></li>
        <li><a href="/programs">Programs</a></li>
      </ul>

      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
    <!-- End Nav Menu -->

    <a href="/" class="logo d-flex align-items-center justify-content-center">
      <img src="/assets/img/logo.png" alt="" />
    </a>

    <!-- Nav Menu -->
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/contact-me">Contact Me</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
      </ul>

      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>
