<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{{page.title}}</title>
  <meta content="{{page.description}}" name="description" />
  <meta content="{{page.keywords}}" name="keywords" />

  <meta property="og:title" content="{{page.title}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://chaotictraining.com/">
  <meta name="twitter:title" content="{{page.title}}">
  

  <!-- Favicons -->
  <link href="../assets/img/favicon.ico" rel="icon" />
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/apple-icon.png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect" />
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet"
  />

  <!-- pluggins CSS Files -->
  <link
    href="/assets/pluggins/bootstrap/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    href="/assets/pluggins/bootstrap-icons/bootstrap-icons.css"
    rel="stylesheet"
  />
  <link
    href="/assets/pluggins/glightbox/css/glightbox.min.css"
    rel="stylesheet"
  />
  <link href="/assets/pluggins/swiper/swiper-bundle.min.css" rel="stylesheet" />
  <link href="/assets/pluggins/aos/aos.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet" />
</head>
