<!-- Preloader -->
<div id="preloader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<!-- pluggins JS Files -->
<script src="/assets/pluggins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/pluggins/glightbox/js/glightbox.min.js"></script>
<script src="/assets/pluggins/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/pluggins/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/pluggins/swiper/swiper-bundle.min.js"></script>
<script src="/assets/pluggins/aos/aos.js"></script>
<script src="/assets/pluggins/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
