<!DOCTYPE html>
<html lang="en">
  {% include head.html%}

  <body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
    <!-- ======= Header ======= -->
    {% include header.html%}
    <!-- End Header -->

    <main id="main">
      <!-- Hero Section - Home Page -->
      <section id="hero" class="hero about-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
              <h2 data-aos="fade-up" data-aos-delay="100">About Me</h2>
            </div>
          </div>
        </div>
      </section>
      
      <!-- End Hero Section -->

      <!-- About me -->
      <section class="about-me d-flex">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
              <p class="has-line-data" data-line-start="0" data-line-end="1"><strong>Embarking on My Fitness Journey: A Personal Story</strong></p>
              <p class="has-line-data" data-line-start="2" data-line-end="3">Before I started my corporate job, my life was all about partying, heavy drinking, and relying on medications. I was diagnosed with ADHD, anxiety, depression, and Tourette’s syndrome, and found myself at a crossroads. Growing up, I was athletic, but when I entered the corporate world, I gained 60 pounds and became very unhealthy, eventually weighing over 220 pounds. The corporate grind seemed like an escape, but it wasn’t the life I truly wanted.
                Fed up with the cycle of medications, I decided to take a leap into the unknown. I left the corporate world and moved to an isolated mountain location. This wasn't just about changing scenery; it was about transforming my life. In the quiet of the mountains, I learned to be self-reliant and independent.

When I returned to South Florida, I had to deal with the aftermath of years of excess weight and obesity. I replaced medications with a newfound dedication to fitness and real food, which helped me lose 60 pounds and get down to 160 pounds. This change wasn’t just physical; it sparked a deep desire for knowledge.

I went back to college with a GPA of 1.6, facing what seemed like impossible challenges. But I didn’t give up. My hard work led to my acceptance into the University of Central Florida’s Department of Health Professions and Sciences, focusing on Exercise Physiology & Human Performance. During this time, I had the opportunity to work with UCF Football under the Director of Sports Nutrition. Through this experience and my dedication, I was able to gain 40 pounds of muscle in a year and a half, preparing to try out for the football team at UCF. Graduating with a 3.74 GPA was a huge personal victory and showed me the power of resilience.

During this time, I started Chaotic Training. It wasn't just a fitness business; it was a holistic approach to well-being. My diagnoses of ADHD, anxiety, depression, and Tourette’s became driving forces behind my specialized approach. Fitness became my medication, and education became my empowerment.

Today, with over 5 years of experience, I stand as a fitness professional who understands the transformative power of movement and a healthy lifestyle. My journey was real and lived, not scripted. I help those facing neurodiverse challenges, low self-esteem, anxiety, or anyone new to fitness.

Join me at Chaotic Training, where your unique journey is not just understood; it’s celebrated. Together, we’ll build a stronger, more resilient version of you, free from past constraints.</p>
              </div>
            </div>
          </div>
              <!-- End About me Section -->
    </main>

    <!-- ======= Footer ======= -->
    {% include footer.html%}
    <!-- End Footer -->

    <!-- Scroll Top Button -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {% include script.html%}
  </body>
</html>
