<!DOCTYPE html>
<html lang="en">
  {% include head.html%}

  <body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
    <!-- ======= Header ======= -->
    {% include header.html%}
    <!-- End Header -->

    <main id="main">
      <!-- Hero Section - Home Page -->
      <section id="hero" class="hero about-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
              <h2 data-aos="fade-up" data-aos-delay="100">About Me</h2>
            </div>
          </div>
        </div>
      </section>
      
      <!-- End Hero Section -->

      <!-- About me -->
      <section class="about-me d-flex">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
              <p class="has-line-data" data-line-start="0" data-line-end="1"><strong>Embarking on My Fitness Odyssey: A Personal Journey</strong></p>
              <p class="has-line-data" data-line-start="2" data-line-end="3">Before my corporate job, my life was characterized by excessive partying, heavy drinking, and a reliance on medications. Diagnosed with ADHD, anxiety, depression, and Tourette’s syndrome, I found myself at a crossroads. The corporate grind seemed like an escape, but it wasn’t the life I envisioned.</p>
              <p class="has-line-data" data-line-start="4" data-line-end="5">Fed up with the cycle of medications, I took a leap into the unknown, leaving the corporate world and diving into an isolated mountain lifestyle. This decision wasn’t just a geographic change; it was a commitment to personal transformation. In the quietude of the mountains, I learned the power of self-reliance and independence.</p>
              <p class="has-line-data" data-line-start="6" data-line-end="7">Returning to South Florida, I faced the aftermath of a decade marked by excess weight and obesity. Medications were replaced by a newfound dedication to fitness and real food. This shift wasn’t just physical; it sparked a desire for knowledge.</p>
              <p class="has-line-data" data-line-start="8" data-line-end="9">I entered the academic arena with a GPA of 1.6, facing challenges that seemed insurmountable. However, my journey was far from over. I persevered, and my dedication led to acceptance into the University of Central Florida’s Department of Health Professions and Sciences, focusing on Exercise Physiology &amp; Human Performance. Graduating with a 3.74 GPA became not just a personal victory but a testament to the transformative power of resilience.</p>
              <p class="has-line-data" data-line-start="10" data-line-end="11">During this educational journey, I birthed Chaotic Training, not just as a fitness venture but as a holistic approach to well-being. ADHD, anxiety, depression, and Tourette’s weren’t hindrances anymore; they became driving forces behind my specialized approach. Fitness became my medication, and education became my empowerment.</p>
              <p class="has-line-data" data-line-start="12" data-line-end="13">Today, with over 5 years of experience, I stand not just as a fitness professional but as someone who intimately understands the transformative power of movement and a healthy lifestyle. My journey wasn’t scripted; it was lived. I guide those facing neurodiverse challenges, low self-esteem, anxiety, or anyone stepping into the realm of fitness.</p>
              <p class="has-line-data" data-line-start="14" data-line-end="15">Join me at Chaotic Training, where your unique journey is not just understood; it’s celebrated. Together, we’ll sculpt a stronger, more resilient version of you, liberated from the constraints of the past.</p>
              </div>
            </div>
          </div>
              <!-- End About me Section -->
    </main>

    <!-- ======= Footer ======= -->
    {% include footer.html%}
    <!-- End Footer -->

    <!-- Scroll Top Button -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {% include script.html%}
  </body>
</html>
