<!DOCTYPE html>
<html lang="en">
  {% include head.html%}

  <body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
    <!-- ======= Header ======= -->
    {% include header.html%}
    <!-- End Header -->

    <main id="main">
      <!-- Hero Section - Home Page -->
      <section id="hero" class="hero">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
              <h2 data-aos="fade-up" data-aos-delay="100">
                <i>Chaotic Training</i>
              </h2>
              <p data-aos="fade-up" data-aos-delay="200">
                Begin your transformative journey with us, where dreams meet
                reality and possibilities flourish.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero Section -->

      <!-- About me -->
      <section class="about-me d-flex align-items-end">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 data-aos="fade-up" data-aos-delay="100">
                Lorem ipsum dolor sit amet.
              </h2>
              <p data-aos="fade-up" data-aos-delay="200">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste
                impedit earum ducimus accusantium ratione ipsa dignissimos rerum
                ea ex error. Debitis alias velit molestiae quasi? Libero natus
                accusantium temporibus praesentium.
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                similique voluptatem deserunt dolores nemo quasi autem dicta.
                Cum, nostrum qui.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About me Section -->

      <!-- Stats Section - Home Page -->
      <section id="stats" class="stats">
        <div
          class="container position-relative"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="232"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Clients</p>
              </div>
            </div>
            <!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="521"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Projects</p>
              </div>
            </div>
            <!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="1453"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Hours Of Support</p>
              </div>
            </div>
            <!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="32"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Workers</p>
              </div>
            </div>
            <!-- End Stats Item -->
          </div>
        </div>
      </section>
      <!-- End Stats Section -->

      <!-- About me - Home Page -->
      <section
        class="about-me sec-nd d-flex align-items-center justify-content-center"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 data-aos="fade-up" data-aos-delay="100">About Me</h2>
              <p data-aos="fade-up" data-aos-delay="200">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste
                impedit earum ducimus accusantium ratione ipsa dignissimos rerum
                ea ex error. Debitis alias velit molestiae quasi? Libero natus
                accusantium temporibus praesentium.
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                similique voluptatem deserunt dolores nemo quasi autem dicta.
                Cum, nostrum qui.
              </p>
              <div class="btn" data-aos="fade-up" data-aos-delay="300">
                <a href="/about-me"
                  >Learn More <i class="bi bi-arrow-right-short"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-6">
              <img
                src="/assets/img/about-me.png"
                alt="About Me"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End About me -->

      <!-- Contact Section - Home Page -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4 justify-content-center">
            <div class="col-lg-9 text-center">
              <h2>Book Me</h2>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here
              </p>
              <form
                action="forms/contact.php"
                method="post"
                class="php-email-form"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="row gy-4">
                  <div class="col-md-6">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Your Name"
                      required
                    />
                  </div>

                  <div class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>

                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      placeholder="Subject"
                      required
                    />
                  </div>

                  <div class="col-md-12">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="6"
                      placeholder="Message"
                      required
                    ></textarea>
                  </div>

                  <div class="col-md-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">
                      Your message has been sent. Thank you!
                    </div>

                    <button type="submit">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- End Contact Form -->
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>

    <!-- ======= Footer ======= -->
    {% include footer.html%}
    <!-- End Footer -->

    <!-- Scroll Top Button -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {% include script.html%}
  </body>
</html>
