<!DOCTYPE html>
<html lang="en">
  {% include head.html%}

  <body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
    <!-- ======= Header ======= -->
    {% include header.html%}
    <!-- End Header -->

    <main id="main">
      <!-- Hero Section - Home Page -->
      <section id="hero" class="hero program-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
              <h2 data-aos="fade-up" data-aos-delay="100">My Programs</h2>
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero Section -->

      <section class="programs">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mt-5">
              <div class="card">
                <img
                  src="/assets/img/icon.png"
                  alt="Icons"
                  data-aos="fade-up"
                  data-aos-delay="100"
                />
                <h3 data-aos="fade-up" data-aos-delay="200">Lorem Ipsum</h3>
                <p data-aos="fade-up" data-aos-delay="300">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam
                  sint nesciunt praesentium facilis ut qui et quos. Temporibus
                  sed cumque veritatis facere ipsam nihil libero.
                </p>
              </div>
            </div>

            <div class="col-lg-4 mt-5">
              <div class="card">
                <img
                  src="/assets/img/icon.png"
                  alt="Icons"
                  data-aos="fade-up"
                  data-aos-delay="100"
                />
                <h3 data-aos="fade-up" data-aos-delay="200">Lorem Ipsum</h3>
                <p data-aos="fade-up" data-aos-delay="300">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam
                  sint nesciunt praesentium facilis ut qui et quos. Temporibus
                  sed cumque veritatis facere ipsam nihil libero.
                </p>
              </div>
            </div>

            <div class="col-lg-4 mt-5">
              <div class="card">
                <img
                  src="/assets/img/icon.png"
                  alt="Icons"
                  data-aos="fade-up"
                  data-aos-delay="100"
                />
                <h3 data-aos="fade-up" data-aos-delay="200">Lorem Ipsum</h3>
                <p data-aos="fade-up" data-aos-delay="300">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam
                  sint nesciunt praesentium facilis ut qui et quos. Temporibus
                  sed cumque veritatis facere ipsam nihil libero.
                </p>
              </div>
            </div>

            <div class="col-lg-4 mt-5">
              <div class="card">
                <img
                  src="/assets/img/icon.png"
                  alt="Icons"
                  data-aos="fade-up"
                  data-aos-delay="100"
                />
                <h3 data-aos="fade-up" data-aos-delay="200">Lorem Ipsum</h3>
                <p data-aos="fade-up" data-aos-delay="300">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam
                  sint nesciunt praesentium facilis ut qui et quos. Temporibus
                  sed cumque veritatis facere ipsam nihil libero.
                </p>
              </div>
            </div>

            <div class="col-lg-4 mt-5">
              <div class="card">
                <img
                  src="/assets/img/icon.png"
                  alt="Icons"
                  data-aos="fade-up"
                  data-aos-delay="100"
                />
                <h3 data-aos="fade-up" data-aos-delay="200">Lorem Ipsum</h3>
                <p data-aos="fade-up" data-aos-delay="300">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam
                  sint nesciunt praesentium facilis ut qui et quos. Temporibus
                  sed cumque veritatis facere ipsam nihil libero.
                </p>
              </div>
            </div>

            <div class="col-lg-4 mt-5">
              <div class="card">
                <img
                  src="/assets/img/icon.png"
                  alt="Icons"
                  data-aos="fade-up"
                  data-aos-delay="100"
                />
                <h3 data-aos="fade-up" data-aos-delay="200">Lorem Ipsum</h3>
                <p data-aos="fade-up" data-aos-delay="300">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam
                  sint nesciunt praesentium facilis ut qui et quos. Temporibus
                  sed cumque veritatis facere ipsam nihil libero.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- ======= Footer ======= -->
    {% include footer.html%}
    <!-- End Footer -->

    <!-- Scroll Top Button -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {% include script.html%}
  </body>
</html>
